:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}
.carousel-base {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  outline: none;
  position: relative;
}

.item-provider {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.item-container img {
  user-select: none;
  -webkit-user-drag: none;
}

.item-tracker {
  height: 100%;
  display: flex;
}

.carousel-arrow {
  z-index: 1;
}
.carousel-navigation {
  display: flex;
  position: absolute;
  bottom: 0;
}

/* slider style */
.slider-base {
  width: 100%;
  position: relative;
}

.slider {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.slider::-webkit-scrollbar {
  /** WebKit */
  display: none;
}

.slider > * {
  flex: 0 0 auto;
}

.sliding > * {
  pointer-events: none;
}
